<div class="row">
    <div class="col-md-12 text-right">
        <h2 style="margin-top:0px">Registro de Nuevo Recurso</h2>
    </div>
</div>
<div class="container">
    <div class="card-block">
        <ngb-tabset [activeId]="activeTab">
            <ngb-tab title="1. Datos del Origen del Recurso" id="tab1">
                <ng-template ngbTabContent>
                    <div class="container-fluid card">
                        <div style="float:left; width:100%; height:20px;"></div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Autor</strong>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group mb-3">
                                    <select class="form-control" id="idAutor" name="idAutor">
                                        <option value="" selected>Seleccione...</option>
                                        <option *ngFor="let autor of autores" value={{autor.id}}>{{autor.apellidos}} {{autor.nombres}}</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="button" (click)="openAutor(contentAutor)"><span class="fa fa-pencil-square-o"></span>&nbsp;Agregar / Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Productora</strong>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group mb-3">
                                    <select class="form-control" id="idProductora" name="idProductora">
                                        <option value="" selected>Seleccione...</option>
                                        <option *ngFor="let productora of productoras" value={{productora.id}}>{{productora.nombre}}</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="button" (click)="openProductora(contentProductora)"><span class="fa fa-pencil-square-o"></span>&nbsp;Agregar / Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-primary" disabled>Anterior</button>
                            </div>
                            <div class="col-sm-4 text-center">
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab2')">Siguiente</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="2. Datos del Recurso" id="tab2">
                <ng-template ngbTabContent>
                    <div class="container-fluid card">
                        <div style="float:left; width:100%; height:20px;"></div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Título</strong>
                            </div>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Código ISBN</strong>
                            </div>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="codigoISBN" name="codigoISBN" placeholder="Código ISBN">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Descripción</strong>
                            </div>
                            <div class="col-sm-8">
                                <textarea rows="4" class="form-control" id="descripcion" name="descripcion" placeholder="Descripción"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Contenido</strong>
                            </div>
                            <div class="col-sm-8">
                                <textarea rows="4" class="form-control" id="contenido" name="contenido" placeholder="Contenido"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Tipo</strong>
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control" id="idTipo" name="idTipo">
                                    <option value="" selected>Seleccione...</option>
                                    <option *ngFor="let tipo of tipos" value={{tipo.id}}>{{tipo.descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Categoría</strong>
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control" id="idCategoria" name="idCategoria">
                                    <option value="" selected>Seleccione...</option>
                                    <option *ngFor="let categoria of categorias" value={{categoria.id}}>{{categoria.descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Estado</strong>
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control" id="idEstado" name="idEstado">
                                    <option value="" selected>Seleccione...</option>
                                    <option *ngFor="let estado of estados" value={{estado.id}}>{{estado.descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab1')">Anterior</button>
                            </div>
                            <div class="col-sm-4 text-center">
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab3')">Siguiente</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="3. Palabras Claves (TAGS)" id="tab3">
                <ng-template ngbTabContent>
                    <div class="container-fluid card">
                        <div style="float:left; width:100%; height:20px;"></div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Tags</strong>
                            </div>
                            <div class="col-sm-8">
                                <textarea rows="4" class="form-control" id="tags" name="tags" placeholder="Palabras Clave"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab2')">Anterior</button>
                            </div>
                            <div class="col-sm-4 text-center">
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab4')">Siguiente</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="4. Foto de la Portada" id="tab4">
                <ng-template ngbTabContent>
                    <div class="container-fluid card">
                        <div style="float:left; width:100%; height:20px;"></div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Foto de la Portada</strong>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="button" (click)="openFotoPortada(contentFotoPortada)"><span class="fa fa-pencil-square-o"></span>&nbsp;Agregar</button>
                                </div>
                            </div>
                            <div style="float:left; width:100%; height:20px;"></div>
                            <div class="form-group row">
                                <div class="col-sm-12 text-center">
                                    <img src="{{srcFoto}}" class="col-6 img-rounded" (click)="fileInput.click()">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab3')">Anterior</button>
                            </div>
                            <div class="col-sm-4 text-center">
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="button" class="btn btn-success" (click)="guardar()">Finalizar</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>

<ng-template #contentAutor let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
        <span *ngIf="entidadSeleccionadaAutor.id != 0">
            Edición de Datos: {{entidadSeleccionadaAutor.nombres | uppercase}} {{entidadSeleccionadaAutor.apellidos | uppercase}}
        </span>
        <span *ngIf="entidadSeleccionadaAutor.id === 0">
            Ingreso de Datos:
        </span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('ClickEnX')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group row">
        <label for="id" class="col-sm-4 col-form-label">Identificador</label>
        <div class="col-sm-8">
            <input type="text" readonly class="form-control" id="id" name="id" [(ngModel)]="entidadSeleccionadaAutor.id">
        </div>
        </div>
        <div class="form-group row">
        <label for="nombres" class="col-sm-4 col-form-label">Nombres</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombres" [(ngModel)]="entidadSeleccionadaAutor.nombres">
        </div>
        </div>
        <div class="form-group row">
        <label for="apellidos" class="col-sm-4 col-form-label">Apellidos</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" [(ngModel)]="entidadSeleccionadaAutor.apellidos">
        </div>
        </div>
        <div class="form-group row">
        <label for="urlWeb" class="col-sm-4 col-form-label">URL</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="urlWeb" name="urlWeb" placeholder="URL" [(ngModel)]="entidadSeleccionadaAutor.urlWeb">
        </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary col-offset-sm-4" (click)="c('save')">
        <span class="fa fa-save"></span>&nbsp;Guardar
        </button>
        <button type="button" class="btn btn-danger" (click)="c('close')"><span class="fa fa-close"></span>&nbsp;Cerrar</button>
    </div>
</ng-template>

<ng-template #contentProductora let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
        <span *ngIf="entidadSeleccionadaProductora.id != 0">
            Edición de Datos: {{entidadSeleccionadaProductora.nombre| uppercase}}
        </span>
        <span *ngIf="entidadSeleccionadaProductora.id === 0">
            Ingreso de Datos:
        </span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('ClickEnX')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group row">
        <label for="id" class="col-sm-4 col-form-label">Identificador</label>
        <div class="col-sm-8">
            <input type="text" readonly class="form-control" id="id" name="id" [(ngModel)]="entidadSeleccionadaProductora.id">
        </div>
        </div>
        <div class="form-group row">
        <label for="nombre" class="col-sm-4 col-form-label">Nombre</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="entidadSeleccionadaProductora.nombre">
        </div>
        </div>
        <div class="form-group row">
        <label for="urlweb" class="col-sm-4 col-form-label">URL Web</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="urlWeb" name="urlWeb" placeholder="URL Web" [(ngModel)]="entidadSeleccionadaProductora.urlWeb">
        </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary col-offset-sm-4" (click)="c('save')">
        <span class="fa fa-save"></span>&nbsp;Guardar
        </button>
        <button type="button" class="btn btn-danger" (click)="c('close')"><span class="fa fa-close"></span>&nbsp;Cerrar</button>
    </div>
</ng-template>

<ng-template #contentFotoPortada let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
        <span *ngIf="entidadSeleccionadaFotoPortada.id != 0">
            Edición de Datos: {{entidadSeleccionadaFotoPortada.nombreArchivo | uppercase}}
        </span>
        <span *ngIf="entidadSeleccionadaFotoPortada.id === 0">
            Ingreso de Datos:
        </span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('ClickEnX')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group row">
        <label for="id" class="col-sm-4 col-form-label">Identificador</label>
        <div class="col-sm-8">
            <input type="text" readonly class="form-control" id="id" name="id" [(ngModel)]="entidadSeleccionadaFotoPortada.id">
        </div>
        </div>
        <div class="form-group row">
        <label for="idRecurso" class="col-sm-4 col-form-label">Recurso</label>
        <div class="col-sm-8">
            <select class="form-control" id="idRecurso" name="idRecurso" [(ngModel)]="entidadSeleccionadaFotoPortada.idRecurso">
                <option value="" selected>Seleccione...</option>
                <option *ngFor="let recurso of recursos" value={{recurso.id}}>{{recurso.titulo}}</option>
            </select>
        </div>
        </div>
        <div class="form-group row">
        <label for="subirArchivo" class="col-sm-4 col-form-label">Subir Archivo</label>
        <div class="col-sm-8">
            <input type="file" class="form-control" name="foto" id="foto" placeholder="Fotografía" #fileInput (change)="CodificarArchivo($event)" accept="image/*">
        </div>
        </div>
        <div class="form-group row">
        <label for="tipoArchivo" class="col-sm-4 col-form-label">Tipo Archivo</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="tipoArchivo" name="tipoArchivo" placeholder="Tipo Archivo" [(ngModel)]="entidadSeleccionadaFotoPortada.tipoArchivo">
        </div>
        </div>
        <div class="form-group row">
        <label for="nombreArchivo" class="col-sm-4 col-form-label">Nombre Archivo</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="nombreArchivo" name="nombreArchivo" placeholder="Nombre Archivo" [(ngModel)]="entidadSeleccionadaFotoPortada.nombreArchivo">
        </div>
        </div>
        <div class="form-group row">
        <label for="adjunto" class="col-sm-4 col-form-label">Adjunto</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="adjunto" name="adjunto" placeholder="Adjunto" [(ngModel)]="entidadSeleccionadaFotoPortada.adjunto">
        </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <img src="{{srcFoto}}" class="col-12 img-rounded" (click)="fileInput.click()">
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary col-offset-sm-4" (click)="c('save')">
        <span class="fa fa-save"></span>&nbsp;Guardar
        </button>
        <button type="button" class="btn btn-default" (click)="c('close')">Cerrar</button>
    </div>
</ng-template>
