<div class="row">
    <div class="col-md-12 text-right">
        <h2 style="margin-top:0px">Registro de Nuevo Recurso</h2>
    </div>
    <div style="float:left; width:100%; height:20px;"></div>
</div>
<div class="col-12">
    <div class="form-group row">
        <div class="col-sm-3 text-right">
            <strong>Recurso</strong>
        </div>
        <div class="col-sm-9">
            <div class="input-group mb-3">
                <select class="form-control" id="idRecurso" name="idRecurso" [(ngModel)]="idRecursoSeleccionado" (change)="seleccionadoRecurso()">
                    <option value="0" selected>Seleccione...</option>
                    <option *ngFor="let recurso of recursos" value={{recurso.id}}>{{recurso.titulo}}</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" (click)="nuevoRecurso()"><span class="fa fa-sticky-note-o"></span>&nbsp;Nuevo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card-block">
        <ngb-tabset [activeId]="activeTab">
            <ngb-tab title="1. Origen" id="tab1">
                <ng-template ngbTabContent>
                    <div class="container-fluid card">
                        <div style="float:left; width:100%; height:20px;"></div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Autor</strong>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group mb-3">
                                    <select class="form-control" id="idAutor" name="idAutor" [(ngModel)]="recursoNuevo.idAutor" (change)="seleccionadoAutor()">
                                        <option value="0" selected>Seleccione...</option>
                                        <option *ngFor="let autor of autores" value={{autor.id}}>{{autor.apellidos}} {{autor.nombres}}</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="button" (click)="openAutor(contentAutor)"><span class="fa fa-pencil-square-o"></span>&nbsp;<span *ngIf="recursoNuevo.idAutor == 0">Agregar</span><span *ngIf="recursoNuevo.idAutor != 0">Editar</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Productora</strong>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group mb-3">
                                    <select class="form-control" id="idProductora" name="idProductora" [(ngModel)]="recursoNuevo.idProductora" (change)="seleccionadoProductora()">
                                        <option value="0" selected>Seleccione...</option>
                                        <option *ngFor="let productora of productoras" value={{productora.id}}>{{productora.nombre}}</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="button" (click)="openProductora(contentProductora)"><span class="fa fa-pencil-square-o"></span>&nbsp;<span *ngIf="recursoNuevo.idProductora == 0">Agregar</span><span *ngIf="recursoNuevo.idProductora != 0">Editar</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Fecha de Publicación</strong>
                            </div>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" id="fecha" name="fecha" [ngModel]="recursoNuevo.fecha | date:'y-MM-dd'" (ngModelChange)="recursoNuevo.fecha = $event">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>País de Publicación</strong>
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control" id="idPaisPublicacion" name="idPaisPublicacion" [(ngModel)]="recursoNuevo.idPaisPublicacion">
                                    <option value="0" selected>Seleccione...</option>
                                    <option *ngFor="let pais of paises" value={{pais.id}}>{{pais.descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Ciudad de Publicación</strong>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="ciudadPublicacion" name="ciudadPublicacion" [(ngModel)]="recursoNuevo.ciudadPublicacion">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-primary" disabled><span class="fa fa-step-backward"></span>&nbsp;Anterior</button>
                            </div>
                            <div class="col-sm-4 text-center">
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab2')"><span class="fa fa-step-forward"></span>&nbsp;Siguiente</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="2. Identificación" id="tab2">
                <ng-template ngbTabContent>
                    <div class="container-fluid card">
                        <div style="float:left; width:100%; height:20px;"></div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Título</strong>
                            </div>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título" [(ngModel)]="recursoNuevo.titulo">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Código ISBN</strong>
                            </div>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="codigoISBN" name="codigoISBN" placeholder="Código ISBN" [(ngModel)]="recursoNuevo.codigoISBN">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Descripción</strong>
                            </div>
                            <div class="col-sm-8">
                                <textarea rows="4" class="form-control" id="descripcion" name="descripcion" placeholder="Descripción" [(ngModel)]="recursoNuevo.descripcion"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Contenido</strong>
                            </div>
                            <div class="col-sm-8">
                                <textarea rows="4" class="form-control" id="contenido" name="contenido" placeholder="Contenido" [(ngModel)]="recursoNuevo.contenido"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Tipo</strong>
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control" id="idTipo" name="idTipo" [(ngModel)]="recursoNuevo.idTipo">
                                    <option value="0" selected>Seleccione...</option>
                                    <option *ngFor="let tipo of tipos" value={{tipo.id}}>{{tipo.descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Categoría</strong>
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control" id="idCategoria" name="idCategoria" [(ngModel)]="recursoNuevo.idCategoria">
                                    <option value="0" selected>Seleccione...</option>
                                    <option *ngFor="let categoria of categorias" value={{categoria.id}}>{{categoria.descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab1')"><span class="fa fa-step-backward"></span>&nbsp;Anterior</button>
                            </div>
                            <div class="col-sm-4 text-center">
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab3')"><span class="fa fa-step-forward"></span>&nbsp;Siguiente</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="3. Palabras Clave" id="tab3">
                <ng-template ngbTabContent>
                    <div class="container-fluid card">
                        <div style="float:left; width:100%; height:20px;"></div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Tags</strong>
                            </div>
                            <div class="col-sm-8">
                                <textarea rows="4" class="form-control" id="tags" name="tags" placeholder="Palabras Clave" [(ngModel)]="tagsIngresados"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab2')"><span class="fa fa-step-backward"></span>&nbsp;Anterior</button>
                            </div>
                            <div class="col-sm-4 text-center">
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab4')"><span class="fa fa-step-forward"></span>&nbsp;Siguiente</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="4. Portada" id="tab4">
                <ng-template ngbTabContent>
                    <div class="container-fluid card">
                        <div style="float:left; width:100%; height:20px;"></div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Foto de la Portada</strong>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group-append">
                                    <input type="file" class="form-control" name="foto" id="foto" placeholder="Fotografía" #fileInput (change)="CodificarArchivo($event)" accept="image/*">
                                </div>
                            </div>
                            <div style="float:left; width:100%; height:20px;"></div>
                            <div class="form-group row">
                                <div class="col-sm-12 text-center">
                                    <img src="{{srcFoto}}" class="col-6 img-rounded" (click)="fileInput.click()">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab3')"><span class="fa fa-step-backward"></span>&nbsp;Anterior</button>
                            </div>
                            <div class="col-sm-4 text-center">
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab5')"><span class="fa fa-step-forward"></span>&nbsp;Siguiente</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="5. Recurso Digital" id="tab5">
                <ng-template ngbTabContent>
                    <div class="container-fluid card">
                        <div style="float:left; width:100%; height:20px;"></div>
                        <div class="form-group row">
                            <div class="col-sm-3 text-right">
                                <strong>Recurso Digital</strong>
                            </div>
                            <div class="col-sm-8">
                                    <div class="input-group mb-3">
                                        <input type="file" class="form-control" name="adjunto" id="adjunto" placeholder="Adjunto" #fileInputAdjunto (change)="CodificarArchivoAdjunto($event)">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-success" type="button" (click)="descargarRecursoDigital()"><span class="fa fa-pencil-square-o"></span>&nbsp;Descargar</button>
                                        </div>
                                    </div>
                                <div class="col-12 text-center">
                                    {{recursoDigital.nombreArchivo}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab4')"><span class="fa fa-step-backward"></span>&nbsp;Anterior</button>
                            </div>
                            <div class="col-sm-4 text-center">
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab6')"><span class="fa fa-step-forward"></span>&nbsp;Siguiente</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="6. Ejemplares" id="tab6">
                <ng-template ngbTabContent>
                    <div class="container-fluid card">
                        <div style="float:left; width:100%; height:20px;"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-default" (click)="agregarEjemplar()">
                                    <span class="fa fa-plus"></span>&nbsp;Agregar
                                </button>
                                <button type="button" class="btn btn-danger" (click)="retirarEjemplar()">
                                    <span class="fa fa-trash"></span>&nbsp;Eliminar
                                </button>
                            </div>
                        </div>
                        <div class="form-group row" *ngFor="let ejemplar of ejemplares">
                            <div style="float:left; width:100%; height:20px;"></div>
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 text-right">
                                        <strong>Estado</strong>
                                    </div>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="idEstado" name="idEstado" [(ngModel)]="ejemplar.idEstado">
                                            <option value="0" selected>Seleccione...</option>
                                            <option *ngFor="let estado of estados" value={{estado.id}}>{{estado.descripcion}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <div class="col-3 text-right">
                                        <strong>Etiqueta</strong>
                                    </div>
                                    <div class="col-8">
                                        <div class="col-12">
                                            <div class="form-group row" style="border: 1px #D3D3D3 solid;">
                                                <div class="col-sm-4">
                                                    <ngx-barcode  [bc-value]="ejemplar.codigo" [bc-display-value]="true"></ngx-barcode>
                                                </div>
                                                <div class="col-8 text-center" style="padding:30px;">
                                                    <h5>{{recursoNuevo.titulo}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 text-left">
                                <button type="button" class="btn btn-primary" (click)="showTab('tab5')"><span class="fa fa-step-backward"></span>&nbsp;Anterior</button>
                            </div>
                            <div class="col-sm-4 text-center">
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="button" class="btn btn-success" (click)="guardarRecurso()"><span class="fa fa-pencil-square-o"></span>&nbsp;Finalizar</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>

<ng-template #contentAutor let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
        <span *ngIf="entidadSeleccionadaAutor.id != 0">
            Edición de Datos: {{entidadSeleccionadaAutor.nombres | uppercase}} {{entidadSeleccionadaAutor.apellidos | uppercase}}
        </span>
        <span *ngIf="entidadSeleccionadaAutor.id === 0">
            Ingreso de Datos:
        </span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="c('ClickEnX')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group row">
        <label for="id" class="col-sm-4 col-form-label">Identificador</label>
        <div class="col-sm-8">
            <input type="text" readonly class="form-control" id="id" name="id" [(ngModel)]="entidadSeleccionadaAutor.id">
        </div>
        </div>
        <div class="form-group row">
        <label for="nombres" class="col-sm-4 col-form-label">Nombres</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombres" [(ngModel)]="entidadSeleccionadaAutor.nombres">
        </div>
        </div>
        <div class="form-group row">
        <label for="apellidos" class="col-sm-4 col-form-label">Apellidos</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" [(ngModel)]="entidadSeleccionadaAutor.apellidos">
        </div>
        </div>
        <div class="form-group row">
        <label for="urlWeb" class="col-sm-4 col-form-label">URL</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="urlWeb" name="urlWeb" placeholder="URL" [(ngModel)]="entidadSeleccionadaAutor.urlWeb">
        </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary col-offset-sm-4" (click)="c('save')">
        <span class="fa fa-save"></span>&nbsp;Guardar
        </button>
        <button type="button" class="btn btn-danger" (click)="c('close')"><span class="fa fa-close"></span>&nbsp;Cerrar</button>
    </div>
</ng-template>

<ng-template #contentProductora let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
        <span *ngIf="entidadSeleccionadaProductora.id != 0">
            Edición de Datos: {{entidadSeleccionadaProductora.nombre| uppercase}}
        </span>
        <span *ngIf="entidadSeleccionadaProductora.id === 0">
            Ingreso de Datos:
        </span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="c('ClickEnX')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group row">
        <label for="id" class="col-sm-4 col-form-label">Identificador</label>
        <div class="col-sm-8">
            <input type="text" readonly class="form-control" id="id" name="id" [(ngModel)]="entidadSeleccionadaProductora.id">
        </div>
        </div>
        <div class="form-group row">
        <label for="nombre" class="col-sm-4 col-form-label">Nombre</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="entidadSeleccionadaProductora.nombre">
        </div>
        </div>
        <div class="form-group row">
        <label for="urlweb" class="col-sm-4 col-form-label">URL Web</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="urlWeb" name="urlWeb" placeholder="URL Web" [(ngModel)]="entidadSeleccionadaProductora.urlWeb">
        </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary col-offset-sm-4" (click)="c('save')">
        <span class="fa fa-save"></span>&nbsp;Guardar
        </button>
        <button type="button" class="btn btn-danger" (click)="c('close')"><span class="fa fa-close"></span>&nbsp;Cerrar</button>
    </div>
</ng-template>
