<div [@routerTransition]>
    <div class="row">
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h3>Nuestros Libros Más Leídos</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">
                                    <span>
                                    <strong>Categoría</strong>
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>
                                    <strong>Título</strong>
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>
                                    <strong>Autor</strong>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let actual of recursos">
                                <td>{{actual.Categoria}}</td>
                                <td>{{actual.titulo}}</td>
                                <td>{{actual.Autor}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Estado de Nuestros Libros</h5>
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartDataEstados" [labels]="barChartLabelsEstados" [options]="barChartOptions" [legend]="true" [chartType]="'pie'">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Tipos de Recursos a Tu Disposición</h5>
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartDataTipos" [labels]="barChartLabelsTipos" [options]="barChartOptions" [legend]="true" [chartType]="'pie'">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Variedad de Recursos para Tus Necesidades</h5>
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartDataUnesco" [labels]="barChartLabelsUnesco" [options]="barChartOptions" [legend]="false" [chartType]="'horizontalBar'">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Utilización de Nuestra Biblioteca</h5>
                </div>
                <div class="card-body">
                    <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
