<div class="col-12">
    <div class="form-row">
        <div class="col-md-12 text-right">
            <h2 style="margin-top:0px">Búsqueda en la Biblioteca</h2>
        </div>
    </div>
    <div class="btn-toolbar">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" (click)="refresh()">
                <span class="fa fa-refresh"></span>&nbsp;Actualizar
            </button>
            &nbsp;
            <div class="form-inline">
                <input class="form-control" type="text" placeholder="Buscar Recursos" [(ngModel)]="filtroBuscar">
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-primary" (click)="getFiltrado()"><span class="fa fa-search"></span></button>
                </div>
            </div>
        </div>
        <div style="width:100%; float:left; height:10px;"></div>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                    </th>
                    <th scope="col">
                        <span>
                        <strong>Categoría</strong>
                        </span>
                    </th>
                    <th scope="col">
                        <span>
                        <strong>Título</strong>
                        </span>
                    </th>
                    <th scope="col">
                        <span>
                        <strong>Autor</strong>
                        </span>
                    </th>
                    <th scope="col">
                        <span>
                        <strong>Tipo</strong>
                        </span>
                    </th>
                    <th scope="col">
                        <span>
                        <strong>Opciones</strong>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let actual of entidades" (click)="onSelect(actual)">
                    <td>
                        <i class="fa fa-hand-o-right" [hidden]="!estaSeleccionado(actual)"></i>
                    </td>
                    <td>{{actual.Categoria}}</td>
                    <td>{{actual.titulo}}</td>
                    <td>{{actual.Autor}}</td>
                    <td>{{actual.TipoRecurso}}</td>
                    <td>
                        <button type="button" class="btn btn-secondary" (click)="mostrarInfo(content, actual.id)">
                            <span class="fa fa-eye"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{entidadSeleccionada.titulo | uppercase}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('ClickEnX')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-12">
            <div class="form-row">
                <div class="col-3">
                    <div class="form-row">
                        <div class="col-12">
                            <h5>Portada:</h5>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" >
                                <img src="{{srcFoto}}" class="col-12 img-rounded">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="form-row">
                        <div class="col-6">
                            <h5>Autor:</h5>
                            <p class="col-12 text-justify">{{entidadSeleccionada.Autor}}</p>
                        </div>
                        <div class="col-6">
                            <h5>Producido por:</h5>
                            <p class="col-12 text-justify">{{entidadSeleccionada.Productora}}</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6">
                            <h5>Clasificación:</h5>
                            <p class="col-12 text-justify">{{entidadSeleccionada.Categoria}}</p>
                        </div>
                        <div class="col-6">
                            <h5>Disponibilidad:</h5>
                            <div class="alert alert-primary text-center" role="alert">
                                No disponible
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <h5>Descripción:</h5>
                            <p class="col-12 text-justify">{{entidadSeleccionada.descripcion}}</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <h5>Tags:</h5>
                            <p class="col-12 text-justify"><span *ngFor="let tag of tags">{{tag.descripcion}}, </span></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <h5>Tabla de Contenidos:</h5>
                            <p class="col-12 text-justify">{{entidadSeleccionada.contenido}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <h5>Código:</h5>
            <div class="col-12">
                <div class="col-12">
                    <div class="form-group row" style="border: 1px #D3D3D3 solid;">
                        <div class="col-sm-4">
                            <ngx-barcode  [bc-value]="entidadSeleccionada.Codigo" [bc-display-value]="true"></ngx-barcode>
                        </div>
                        <div class="col-8 text-center" style="padding:30px;">
                            <h5>{{entidadSeleccionada.titulo}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <h5>Comentarios y Sugerencias:</h5>
            <div class="col-12">
                <div class="col-12 text-right" style="border: 1px #D3D3D3 solid;">
                    <div style="float:left; width:100%; height:15px;"></div>
                    <h6 class="text-left"><strong>{{comentario.Persona}}</strong></h6>
                    <textarea rows="3" class="form-control" id="contenido" name="contenido" placeholder="Comentario o Sugerencia" [(ngModel)]="comentario.contenido"></textarea>
                    <div style="float:left; width:100%; height:5px;"></div>
                    <button type="button" class="btn btn-primary col-offset-sm-4" (click)="registrarComentario()">
                        <span class="fa fa-pencil-square-o"></span>&nbsp;Guardar
                    </button>
                    <div cclass="col-12" style="height:15px;"></div>
                </div>
                <div style="float:left; width:100%; height:15px;"></div>
            </div>
            <div class="col-12">
                <p *ngFor="let alert of comentariosSugerencias">
                    <ngb-alert [type]="'secondary'" (close)="closeAlert(alert)">
                        <h6><strong>{{alert.Persona}}</strong></h6>
                        <p class="col-12 text-justify">{{ alert.contenido }}</p>
                        <p class="col-12 text-right"><strong><i>{{ alert.fecha }}</i></strong></p>
                    </ngb-alert>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="this.recursoDigital.id != 0" type="button" class="btn btn-success col-offset-sm-4" (click)="c('download')">
            <span class="fa fa-file-pdf-o"></span>&nbsp;Descargar Adjunto
        </button>
        <button type="button" class="btn btn-primary col-offset-sm-4" (click)="c('solicitar')">
            <span class="fa fa-check-square-o"></span>&nbsp;Solicitar
        </button>
        <button type="button" class="btn btn-danger" (click)="c('cerrar')"><span class="fa fa-close"></span>&nbsp;Cancelar</button>
    </div>
</ng-template>
