<div class="card-body">
    <div class="list-group">
        <a href="https://www.youtube.com/channel/UCez91Dz7oFrWrApbBCccZag" class="list-group-item clearfix d-block">
            <i class="fa fa-youtube-play"></i> Youtube
        </a>
        <a href="https://twitter.com/institutoaloasi?lang=es" class="list-group-item clearfix d-block">
            <i class="fa fa-twitter-square"></i> Twitter
        </a>
        <a href="https://m.facebook.com/pg/superioraloasi/posts/" class="list-group-item clearfix d-block">
            <i class="fa fa-facebook-square"></i> Facebook
        </a>
    </div>
    <!-- /.list-group -->
</div>
