<div class="col-12">
    <div class="row">
      <div class="col-md-12 text-right">
         <h2 style="margin-top:0px">Generador de Etiquetas</h2>
      </div>
   </div>
    <div class="row">
        <div class="col-12" *ngFor="let actual of entidades">
            <div class="col-8">
                <div class="form-group row" style="border: 1px #D3D3D3 solid;">
                    <div class="col-sm-4">
                        <ngx-barcode  [bc-value]="actual.Codigo" [bc-display-value]="true"></ngx-barcode>
                    </div>
                    <div class="col-8 text-center" style="padding:30px;">
                        <h5>{{actual.titulo}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
