<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/generadoretiquetas']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa fa-qrcode"></i>&nbsp;{{ 'Generador de Etiquetas' | translate }}
        </a>
        <a [routerLink]="['/catalogo']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa fa-book"></i>&nbsp;{{ 'Catálogo' | translate }}
        </a>
        <a [routerLink]="['/registrorecurso']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa fa-edit"></i>&nbsp;{{ 'Registrar Recurso Nuevo' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-database"></i>&nbsp; {{ 'Base de Datos' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <a [routerLink]="['/autor']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-user-o"></i>&nbsp;{{ 'Autor' | translate }}
                    </a>
                </ul>
                <ul class="submenu">
                    <a [routerLink]="['/categoriarecurso']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-navicon"></i>&nbsp;{{ 'Categoria de Recurso' | translate }}
                    </a>
                </ul>
                <ul class="submenu">
                    <a [routerLink]="['/comentariossugerencias']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-comments-o"></i>&nbsp;{{ 'Comentarios y sugerencias' | translate }}
                    </a>
                </ul>
                <ul class="submenu">
                    <a [routerLink]="['/detallesolicitud']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-file-text-o "></i>&nbsp;{{ 'Detalles solicitud' | translate }}
                    </a>
                </ul>
                <ul class="submenu">
                    <a [routerLink]="['/estado']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-flag-o"></i>&nbsp;{{ 'Estado recurso' | translate }}
                    </a>
                </ul>
                <ul class="submenu">
                    <a [routerLink]="['/productora']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-group"></i>&nbsp;{{ 'Productora' | translate }}
                    </a>
                </ul>
                <ul class="submenu">
                    <a [routerLink]="['/recurso']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-cubes"></i>&nbsp;{{ 'Recurso' | translate }}
                    </a>
                </ul>
                <ul class="submenu">
                    <a [routerLink]="['/recursotag']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-info-circle"></i>&nbsp;{{ 'Recurso Tag' | translate }}
                    </a>
                </ul>
                <ul class="submenu">
                    <a [routerLink]="['/tag']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-tag"></i>&nbsp;{{ 'Tag' | translate }}
                    </a>
                </ul>
                <ul class="submenu">
                    <a [routerLink]="['/ejemplar']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-book"></i>&nbsp;{{ 'Ejemplar' | translate }}
                    </a>
                </ul>
                <ul class="submenu">
                    <a [routerLink]="['/solicitud']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-paper-plane-o"></i>&nbsp;{{ 'Solicitud' | translate }}
                    </a>
                </ul>
                <ul class="submenu">
                    <a [routerLink]="['/tiporecurso']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-bookmark"></i>&nbsp;{{ 'Tipo Recurso' | translate }}
                    </a>
                </ul>
                <ul class="submenu">
                    <a [routerLink]="['/fotoportada']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa-address-book-o"></i>&nbsp;{{ 'Foto Portada' | translate }}
                    </a>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a>
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
