<div class="welcome-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-12 push-md-1">
            <div class="row group">
                <div class="col-2">
                    <span class="fa fa-warning fa-4x"></span>
                    <h1>404</h1>
                </div>
                <div class="col-8">
                    <h1>Página no encontrada</h1>
                    <p class="lead">La página que usted busca, no existe.</p>
                    <p class="lead">
                        <a class="btn rounded-btn" [routerLink]="['/']">Regresar</a>
                    </p>
                </div>
                <div class="col-2">
                    <span class="fa fa-warning fa-4x"></span>
                    <h1>404</h1>
                </div>
            </div>
        </div>
    </div>
</div>
