<div class="container-fluid">
    <div style="float:left; width: 210mm; background: white; border: 1px #D3D3D3 solid; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);">
        <div style="float:left; width: 210mm; height:10mm;"></div>
        <div #encabezadoSolicitudMatricula style="float:left; width: 210mm; height:40mm;">
            <div class="form-group row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                    <ngx-barcode [bc-value]="codigo" [bc-display-value]="false"></ngx-barcode>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                    <img alt="YAVIRAC" height="100px" src="./../../../assets/images/logos/INSTITUTO TECNOLÓGICO SUPERIOR DE TURISMO Y PATRIMONIO YAVIRAC.png" />
                </div>
            </div>
        </div>
        <div style="float:left; width: 30mm; height:217mm;"></div>
        <div #cuerpoSolicitudMatricula style="float:left; width: 160mm;">
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2 class="text-center">Solicitud de Préstamo de Recursos de la Biblioteca</h2>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                    <span>{{solicitudActual.fechaSolicitud | date:'medium'}}</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                    BIBLIOTECA YAVIRAC<br/>PRESENTE.-
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                    <div style="width:100%;height:20px;"></div>
                    <p align="justify">Yo, <strong>{{solicitante.apellido1}} {{solicitante.apellido2}} {{solicitante.nombre1}} {{solicitante.nombre2}}</strong> con documento de identidad Nº <strong>{{solicitante.identificacion}}</strong>, me comprometo a cuidar los recursos solicitados en la presente y a entregarlos en las mismas condiciones que los recibo, máximo el día <strong>{{solicitudActual.fechaMax | date:'EEEE, dd MMMM yyyy HH:mm:ss'}}</strong>.</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                    <table class="col-12 table table-striped table-bordered">
                        <thead class="thead-dark">
                           <tr>
                              <th scope="col-6">
                                 <span>
                                    <strong>Recurso</strong>
                                 </span>
                              </th>
                              <th scope="col-3">
                                <span>
                                   <strong>Retirar</strong>
                                </span>
                             </th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let actual of recursosSolicitados">
                              <td>{{actual.Bibliografia}}</td>
                              <td>
                                <button type="button" class="btn btn-danger" (click)="retirar(actual.id)">
                                    <span class="fa fa-trash"></span>
                                </button>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                    <p align="left">Con sentimientos de distinguida consideración.</p>
                    <div style="width:100%;height:20px;"></div>
                    <p align="left">Atentamente,</p>
                    <p><strong>{{solicitante.apellido1}} {{solicitante.apellido2}} {{solicitante.nombre1}} {{solicitante.nombre2}}</strong><br/><strong>{{solicitante.identificacion}}</strong></p>
                </div>
            </div>
        </div>
        <div #pieSolicitudMatricula style="float:left; width: 210mm; height:20mm;"></div>
        <div style="float:left; width: 210mm; height:10mm;"></div>
    </div>
    <div style="float:left; width: 100%; height:10px;"></div>
    <div style="float:left; width: 210mm; text-align:center;">
        <div class="form-group row">
            <div style="width: 100%; text-align:center;">
                <div>
                    <button type="button" class="btn btn-success" (click)="aceptar()" [ngClass]='{disabled: solicitudEmitida}'>
                        <span class="fa fa-lock"></span>&nbsp;Aceptar
                    </button>
                    <button type="button" class="btn btn-primary" (click)="imprimir()">
                        <span class="fa fa-file-pdf-o"></span>&nbsp;Descargar PDF
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
