<div [@routerTransition]>
    <h2 style="text-align:center;" class="text-muted"><small>¡FORTALECIENDO CAPACIDADES!</small></h2>
    <div class="row">
        <div class="col-md-11">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let biblioteca of bibliotecas">
                    <img class="img-fluid mx-auto d-block" [src]="biblioteca.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{biblioteca.label}}</h3>
                        <p>{{biblioteca.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-star fa-2x fa-spin"></i> Reseña
                </div>
                <div>
                    <p>
                        La biblioteca yavirac 
                    </p>
                    
                </div>
                
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-desktop	"></i> Visítanos...
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <app-chat></app-chat>
            <!-- /.card .chat-card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
<div class="post-footer">
    <div class="container">
        <div class="row">
            
            <!--Library Policies-->
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="small">
                    <span class="nowrap">&copy; </span>
                    <span class="nowrap">Biblioteca institucional Yavirac.</span>
                    <span class="nowrap">Todos los derechos reservados</span>
                    <span> | <a href="about/the-organization/library-policies/index.html">Manual de Usuario</a></span>
                </div>
            </div>

            <!--Mobile App Ad-->
			
        
        </div>
    </div>
    
</div>