<div [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let informativo of informacion">
                    <img class="img-fluid mx-auto d-block" [src]="informativo.imagePath" alt="YAVIRAC" width="100%">
                    <div class="carousel-caption">
                        <h3>{{informativo.label}}</h3>
                        <p>{{informativo.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <div class="row">
        <div style="float:left; width:100%; height:20px;"></div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="col-12">
                    <h1 align="center">Biblioteca Yavirac</h1>
                </div>
                <div class="col-12">
                    <h5 align="left"><strong>OBJETIVO</strong></h5>
                    <p class="col-12 text-justify">Expone diferentes recursos con los que cuenta, poniéndolos a disposición
                    de la comunidad educativa, así mismo al público en general fomentando el interés y recuperar
                    él hábito de la lectura, motivando a las personas a buscar o adquirir información de una manera virtual.
                    </p>
                </div>
                <div class="col-12">
                    <h5 align="left"><strong>MISIÓN</strong></h5>
                    <p class="col-12 text-justify">Expone diferentes recursos con los que cuenta, poniéndolos a disposición
                    de la comunidad educativa, así mismo al público en general fomentando el interés y recuperar
                    él hábito de la lectura, motivando a las personas a buscar o adquirir información de una manera virtual.
                    </p>
                </div>
                <div class="col-12">
                    <h5 align="left"><strong>VISIÓN</strong></h5>
                    <p class="col-12 text-justify">Expone diferentes recursos con los que cuenta, poniéndolos a disposición
                    de la comunidad educativa, así mismo al público en general fomentando el interés y recuperar
                    él hábito de la lectura, motivando a las personas a buscar o adquirir información de una manera virtual.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4" style=" color:white;">
            <div class="card card-default mb-3">
                <div class="card-header" style="background:#F58228;">
                    <i class="fa fa-info-circle fa-2x"></i><font size="5"><strong style="color:black;">&nbsp;Información</strong></font>
                </div>
                <div class="card-body"style="background:gray;">
                    <h4 align="center">Ubíquenos</h4>
                    <div class="col-12">
                        <div #gmap style="width:100%;height:200px"></div>
                    </div>
                    <div class="card-body">
                        <h4 align="center">Horario</h4>
                        <table class="col-12">
                            <tr>
                                <th class="col-4">Día</th>
                                <th class="col-4">Desde</th>
                                <th class="col-4">Hasta</th>
                            </tr>
                            <tr>
                                <td class="col-4">Lunes</td>
                                <td class="col-4">8 am</td>
                                <td class="col-4">5 pm</td>
                            </tr>
                            <tr>
                                <td class="col-4">Martes</td>
                                <td class="col-4">8 am</td>
                                <td class="col-4">5 pm</td>
                            </tr>
                            <tr>
                                <td class="col-4">Miércoles</td>
                                <td class="col-4">8 am</td>
                                <td class="col-4">5 pm</td>
                            </tr>
                            <tr>
                                <td class="col-4">Jueves</td>
                                <td class="col-4">8 am</td>
                                <td class="col-4">5 pm</td>
                            </tr>
                            <tr>
                                <td class="col-4">Viernes</td>
                                <td class="col-4">8 am</td>
                                <td class="col-4">5 pm</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="post-footer">
    <div class="container" style="background:gray; color:aliceblue;">
        <div class="row">
            <div style="float:left; width:100%; height:20px;"></div>
            <div class="col-12 text-center">
                <div class="form-row">
                    <div class="col-4">
                        <a href="https://www.youtube.com/channel/UCez91Dz7oFrWrApbBCccZag" target="_blank">
                            <i class="fa fa-youtube fa-2x" style="color: white"></i><span style="color:white">&nbsp;Youtube</span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="https://twitter.com/institutoaloasi?lang=es" target="_blank">
                            <i class="fa fa-twitter fa-2x" style="color: white"></i> <span style="color:white">&nbsp;Twitter</span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="https://m.facebook.com/pg/superioraloasi/posts/ " target="_blank">
                            <i class="fa fa-facebook fa-2x" style="color: white;"></i><span style="color:white;">&nbsp;Facebook</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left; width:100%; height:20px;"></div>
        <div class="col-12">
            <div class="small" align="center">
                <h6><span class="nowrap">Biblioteca Institucional - Yavirac</span></h6>
                <h6><span class="nowrap">&copy; </span><span class="nowrap">Todos los derechos reservados.</span></h6>
            </div>
        </div>
        <br>
    </div>
</div>
